//////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

//////////////////////////////////////////////
// 
.search {
    
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-grey-light-2;
        border:none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;
        &:focus{
            width:100%;
            outline: none;
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: $color-grey-light-4;
        }
    }
    &__input:focus + &__ button {
        background-color: $color-grey-light-3;
    }

    &__button{
        border:none;
        background-color: $color-grey-light-2;
        &:focus{outline:none;}
        &:active{
            transform: translateY(2px);
        }
    }
    &__icon{
        width: 2rem;
        height: 2rem;
        fill: $color-grey-dark-3;
    }
}
//////////////////////////////////////////////
// LOGO

.user-nav {
    &__box{
        
    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }
    &__user{

    }
    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
    }
    &__user-name{

    }
    

}