//////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
}

//////////////////////////////////////////////
// 
.search {
    &__input{

    }
    &__button{

    }
    &__icon{
        width: 2rem;
        height: 2rem;
    }
}
//////////////////////////////////////////////
// LOGO

.user-nav {
    &__box{

    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }
    &__user{

    }
    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
    }
    &__user-name{

    }
    

}