.composition {
	@include break(md) {
		display: flex;
	}
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
		border-radius: 2px;
		position: absolute;
		z-index: 10;
		transition: all 0.2s;
        outline-offset: 2rem;

		@include break(md) {
			display: flex;
			position: static;
			width: 33.33%;
			box-shadow: 0 1.5rem 3rem rgba(#000, .2);
		}

		&--p1 {
			left: 0;
			top: -2rem;
			@include break(md){
				transform: scale(1.1);
			}
		} 
		&--p2 {
			left: 40%;
			top: 2rem;
			@include break(md){
				transform: scale(1.2);
				z-index: 20;
			}
		}
		&--p3 {
			left: 20%;
			top: 10rem;
			@include break(md){
				top: -1rem;
				transform: scale(1.1);
			}
		}
		&:hover,
		&:active {
            outline: 1rem solid $color-primary;
			transform: scale(1.05);
			box-shadow: 0 2.5rem 4rem rgba(#000, 0.4);
			z-index: 20;
		}
	}
    //  ***** hover하면 선택한 대상을 제외한 나머지에게 효과주기 :hover를 부모로 두는 선택자
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
