@mixin clearfix {
	&::after {
		content: "";
		display: table; // 클리어픽스의 표준 display값 참고.
		clear: both;
	}
}
// clearfix 과정 - &::after -> content: ""; -> display: table; (standard), clear: both;

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px: Mobile
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: is where our nor]mal styles apply.
1800px + : Big Desktop

$breakpoint argument choices:
- mobile: sm
- tablet-port: md
- desktop: lg

Process: Base + typography > general layout + grid > page layout > componenets
*/

// 미디어 쿼리는 rem, em 등이 루트 폰트 사이즈가 아닌 브라우저 폰트(16px)의 영향을 받는다.
// 1em = 16px 기준으로 미디어 쿼리 기준을 잡아준다.
// breakpoint 는 3개로 잡았지만 sm과 md 둘다 50% 주기 때문에 bases에는 md와 lg만 적용.

$breakpoints: (
	sm: 37.5em,
	// 600px mobile
	md: 56.25em,
	// 900px tablet
	lg: 75em
    // 1200px desktop
);
@mixin break($size) {
	// map over breakpoints and use value of passed in size
	@media only screen and (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}








// @mixin responsive($breakpoint) {
// 	// 600px / 16 = 37.5
// 	@if $breakpoint == mobile {
// 		@media (max-width: 37.5em) {
// 			@content;
// 		}
// 	}
// 	// 900px / 16 = 52.25
// 	@if $breakpoint == tablet-port {
// 		@media (max-width: 56.25em) {
// 			@content;
// 		}
// 	}
// 	// 1200px
// 	@if $breakpoint == tablet-land {
// 		@media (max-width: 75em) {
// 			@content;
// 		}
// 	}
// 	// 1800px
// 	@if $breakpoint == desktop {
// 		@media (max-width: 112.5em) {
// 			@content;
// 		}
// 	}
// }

// @mixin mobile-version {
// 	@media (max-width: 600px) {
// 		@content;
// 	}
// }
