// 2 이러면 먹는데???
* {
	margin: 0;
	padding: 0;
}

// 1 왜안먹지???
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/* !!! box-sizing의 기본을 상속으로 둠으로써 body에 있는 box-sizing으로 하위 요소 및 자식에게 물려주도록 한다. 
	(box-sizing 기본값 자체가 inherit속성을 갖도록 만들어줌) */
	box-sizing: inherit;
}

html {
	// This defines what 1rem is.
	// 1rem = 10px | 10px /16px = 62.5%
	font-size: 62.5%;

	// 매개변수? 가 없는 방식일때,
	// @include mobile-version {
	// 	font-size: 50%;
	// }

	// tablet-port 와 중복되므로 삭제함.
	// @include responsive(mobile) {
	// 	font-size: 50%;
	// }

	// 	순서 기억할것 낮은 것부터 높은 순으로 씌워준다. max-width의 순서이므로 포함 영역이 "이하일 때"**
	// @include break(lg) {
	// 	font-size: 62.5%;
	// }
	// 1rem = 9px | 9px / 16px = 56.25%

	// 1rem = 8px 로 적용하기 위해서 8px / 16px 이므로 50%가 된다.
	@include break(sm) {
		font-size: 50%;
	}
	@include break(md) {
		font-size: 50%;
	}
	@include break(lg) {
		font-size: 56.25%;
	}
}

body {
	/* no borders or paddings added - sizing as it is */
	box-sizing: border-box;
	@include break(lg) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color:$color-white;
}