/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/ 

/* Reset */
* {
	margin: 0;
	padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    /* no borders or paddings added - sizing as it is */
    box-sizing: border-box;
    /* overall font-family to inherit - better practice than universal selector*/
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

/* Header */
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    /* 이미지를 상단 기준으로 고정 - 뷰포트 하단의 이미지만 변경 또는 Crop됨  */
    background-position: top;
    /* clip-path: 각 x,y 포인트를 시계방향으로 */
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    /* position으로 logo-box의 기준을 준다. */
    position:relative;
}

.logo-box {
    /* header의 relative를 레퍼런스로 하는 기준점으로 top과 left의 40px 주기 */
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    /* height만 잡아도 width 잡힘. 필요한 값만 올려줘도 사이징 ㅇㅋ */
    height: 35px;
}

.heading-primary {
    color:#fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
}
.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.7rem;
}

.text-box {
    position: absolute;
    top: 50%; 
    left: 50%;
    background-color: red;
}